<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Goalkeeping:</b>
  <%= @player.goalkeeping %>
</p>

<p>
  <b>Passing:</b>
  <%= @player.passing %>
</p>

<p>
  <b>Defense:</b>
  <%= @player.defense %>
</p>

<p>
  <b>Goalscoring:</b>
  <%= @player.goalscoring %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
